html, body{
    margin: 0;
    padding: 15px;
    height: 100%;
    background-color: rgb(100,100,100);
}
*{
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.header, .footer{
    width: 100%;
    height: 10%;
    background-color: rgb(150,150,150);
    color: rgb(240,240,240);
    text-align: center;
}
.middle-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 75%;
}
.aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 100%;
    background-color: rgb(120,120,200);
    color: rgb(240,240,240);
    text-align: center;
}
.article{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-end;
    flex-wrap: wrap;
    background-color: rgb(200,75,75);
    color: rgb(240,240,240);
    width: 69%;
    height: 100%;
}
.article h3{
    width: 100%;
    text-align: center;
}
.image{
    background-image: url('images/icebear2.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 30%;
    height: 30%;
}
