*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
[class*="h-"] [class*="col-"]{
    height: 100%;
}
.h-1{
    height: 8.33%;
}
.h-2{
    height: 16.66%;
}
.h-3{
    height: 25%;
}
.h-4{
    height: 33.33%;
}
.h-5{
    height: 41.66%;
}
.h-6{
    height: 50%;
}
.h-7{
    height: 58.33%;
}
.h-8{
    height: 66.66%;
}
.h-9{
    height: 75%;
}
.h-10{
    height: 83.33%;
}
.h-11{
    height: 91.66%;
}
.h-12{
    height: 100%;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
[class*="col-"]{
    float: left;
    border: 10px solid white;
}
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}
.yellow{
    background-color: yellow;
}
.l-blue{
    background-color: lightblue;
}
.green{
    background-color: lightgreen;
}
.orange{
    background-color: orange;
}
.pink{
    background-color: pink;
}
.d-blue{
    background-color: blue;
}